/*
 * MISC
 * ---------------------------------------------------------------------------------------------------------------------
 */
*, *:before, *:after {
    padding: 0; margin: 0; border: 0;
    box-sizing: border-box; -moz-box-sizing: border-box;
    -webkit-text-size-adjust: 100%; /* Making shure mobile devices dont scale up text */
}

body,
input,
textarea,
select {
    font-size: 13px;
    font-family: arial, verdana, sans-serif;
    color: #333;
    line-height: 150%;
}

body { background: #E9EBEE; }

a {
    color: #43609C;
    text-decoration: none;
}

h1 {
    margin-bottom: 30px;
    color: #43609C;
}
h2 { margin-bottom: 10px; }
h3 { margin-bottom: 5px; }

p { margin-bottom: 10px; }
p.search-p { margin-bottom: 20px; }

section { margin-bottom: 40px; }

ul { margin-left: 18px; }
li { padding-left: 5px; }


/*
 * MAIN ELEMENTS
 * ---------------------------------------------------------------------------------------------------------------------
 */

main {
    width: 800px;
    min-height: 200px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
    border: 1px solid #DFE0E4;
    border-top: 2px solid #43609C;
    border-bottom: 2px solid #DFE0E4;
    border-radius: 4px;
    padding: 30px;
    padding-bottom: 10px;
    background: #fff;
}

footer {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
    color: #888;
    font-size: 11px;
}

footer p {
    margin-bottom: 0;
}


/*
 * INPUT FORMS AND BUTTONS
 * ---------------------------------------------------------------------------------------------------------------------
 */

input,
select {
    border: 1px solid #aaa;
    padding: 3px 8px;
}
select {
    padding: 4px 8px;
}

.loading {
    vertical-align: middle;
    display: none;
}

.button {
    background: #43609C;
    color: #fff;
    padding: 6px 8px;
    cursor: pointer;
    text-decoration: none;
}

.link-remove {
    color: #43609C;
    cursor: pointer;
}


/*
 * TABLE
 * ---------------------------------------------------------------------------------------------------------------------
 */

table {
    width: 100%;
    margin-left: -2px;
}

th,
td {
    padding: 5px 8px;
}
th {
    background: #e8e8e8;
    color: #666;
    font-weight: normal;
    text-align: left;
}
td { background: #F6F6F6; }